* {
    margin: 0;
    padding: 0;
}
title{
    padding-top: 2rem;
    padding-bottom: 2rem;
    ;
}

body {
  background-image: url('backGa.png');
  background-position: center;
  text-align: center;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    background-color: white;
    border: none;
    color: #b0413e;
    font-size: 8vmin;
}

#reset-button {
    padding: 1rem 2rem;
    background-color: rgba(13, 4, 4, 0.996);
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

#newButton{
    padding: 1rem 2rem;
    background-color: rgba(13, 4, 4, 0.996);
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

.msg-container {
    height: 100vmin;
    display:flex;
    flex-direction: column;
    justify-content: center;  * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 163, 141);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    background-color: white;
    border: none;
    font-size: 8vmin;
}

#reset-button {
    padding: 1rem 2rem;
    background-color: rgba(13, 4, 4, 0.996);
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem 2rem;
    background-color: rgba(13, 4, 4, 0.996);
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

.msg-container {
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

.msg {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
  
    align-items: center;
    gap: 4rem;
}

.hide {
    display: none;
}
